* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color:#FF5722;
    padding: 20px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    margin: 0; 
}


.header {
    background-color: #FF5722;
    padding: 10px 20px;
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.back-button {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid white;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: orange;
    color: white;
}

.main_dictionary {
    background-color: #fff; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
    text-align: center;
}

.dictionary_title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.dictionary_paragraph {
    margin-bottom: 20px;
    font-size: 16px;
}

.dictionary_form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.dictionary_textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
}

.voice_button {
    padding: 10px;
    background-color: #FF5722;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.voice_button:hover {
    background-color: #FF5722;
}

.dictionary_label {
    font-size: 16px;
}

.dictionary_select {
    padding: 8px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.dictionary_button {
    padding: 10px;
    background-color: #FF5722;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.dictionary_button:hover {
    background-color: #e65c00; 
}

.translation_box {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.translation_title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.dictionary_result {
    font-size: 18px;
    color: #333;
}
