body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9; 
    color: #333; 
}

header {
    background-color: #FF5722;
    padding: 10px 20px;
    text-align: left;
}

.back-button {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid white;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: orange;
    color: white;
}

.main_quiz {
    max-width: 800px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.quiz_title {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.quiz_paragraph {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.quiz_selection {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

.quiz_option_button {
    background-color: #FF5722;
    color: white;
    font-size: 16px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.quiz_option_button:hover {
    background-color: #e65500;
}

#quiz_area {
    margin-top: 20px;
}

.quiz_question {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.quiz_options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.quiz_button {
    background-color: #FF5722;
    color: white;
    font-size: 16px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: 0 auto;
}

.quiz_button:hover {
    background-color: #e65500;
}

.quiz_score {
    font-size: 16px;
    margin-top: 20px;
    color: #555;
}

@media (max-width: 600px) {
    .main_quiz {
        padding: 15px;
    }

    .quiz_title {
        font-size: 20px;
    }

    .quiz_option_button {
        font-size: 14px;
    }
}
