body {
    font-family: Arial, sans-serif;
    background-color: #FF5722;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.logo {
    margin-bottom: 20px;
}

.logo-img {
    width: 100px; 
    height: auto;
}

h2 {
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-size: 14px;
    color: #555;
}

.form-group input {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group input[type="submit"] {
    background-color: #FF5722;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 16px;
    padding: 12px 20px;
    border-radius: 5px;
    width: 100%;
}

.form-group input[type="submit"]:hover {
    background-color: #FF5722;
}

.form-footer {
    text-align: center;
    margin-top: 10px;
}

.form-footer a {
    color: #FF5722;
    text-decoration: none;
}

.form-footer a:hover {
    text-decoration: underline;
}

.social-login {
    margin-top: 20px;
}

.social-login p {
    font-size: 14px;
    color: #555;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icon {
    width: 30px;  
    height: auto;
}
